<nav id="navbar" class="navbar fixed-top navbar-toggleable-md navbar-light">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div style="width: 30%">
    <a class="navbar-brand" href="#">Odyssey Outreach</a>
  </div>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav my-auto mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#students">Students</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#teachers">Teachers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#team">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#contact">Contact</a>
      </li>
    </ul>

    <div class="text-right" style="width: 30%">
      <a href="https://orgsync.com/147718/chapter"><img src="assets/uncc.png" alt="Odyssey Outreach on UNCC OrgSync"></a>
      <a href="https://twitter.com/odysseyoutreach"><img src="assets/twitter.png" alt="Odyssey Outreach on Twitter"></a>
      <a href="/blog"><button class="btn btn-outline-success align-middle">Blog</button></a>
    </div>
  </div>
</nav>
